*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1630px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
button {
    outline: none;
    border: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #262626;
  }
  
  img {
    max-width: 100%;
    display: block;
  }
  
  input {
    border: none;
    outline: none;
    background: transparent;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(94.21deg, rgba(231, 180, 80, 0.087) 3.29%, rgba(236, 52, 209, 0.087) 97.52%);
  }
  .main-header-section{
    padding: 42px 0 50px 0 ;
    background-image: url(./images/Header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .header-main1{
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
  }
  .header-main-icon{
    display: flex;
    max-width: 153px;
    width: 100%;
  }
  .header-main-icon1{
    max-width: 603px;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    margin: 0;
    align-items: center;
  }
  .header-main-icon2{
    max-width: 369px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .main-icon-h1{
    display: flex;
    align-items: end;
    max-width: 44px;
    width: 100%;
font-size: 28px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.02em;
text-align: left;
margin-right:2px ;
  }
  .main-icon-h2{
    display: flex;
    align-items: end;
    max-width: 46px;
    width: 100%;
font-size: 28px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.02em;
text-align: left;
  }
  .main-icon-span2{
    width: 19px;
  }
  .main-icon-span1{
    width: 28px;
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: left;
  }
  .main-icon-p1{
    display: flex;
    gap: 8px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
  }
  .main-icon2-p1{
    width: 74px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
  }
  .main-icon2-button1{
    width: 189px;
    height:58px;
    background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
font-size: 18px;
font-weight: 500;
line-height: 26px;
text-align: left;
color: white;
text-align: center;
border-radius: 4px;
  }
.header-main1-responsive{
display: none;
}
.header-main2-fonts1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: 58px;
}
.main2-fonts2-start{
  max-width: 637px;
  width: 100%;
}
.fonts2-start-h1{
font-size: 72px;
font-weight: 800;
line-height: 92.4px;
letter-spacing: 0.02em;
text-align: left;
margin-bottom: 28px;
}
.fonts2-start-span1{
  color: #25A1FF;
}
.fonts2-start-p1{
font-size: 18px;
font-weight: 400;
line-height: 32px;
text-align: left;
margin-bottom: 60px;

}



.fonts2-start-button1{
cursor: pointer;
  width:177px;
height: 58px;
padding: 6px;
border-radius: 4px ;
background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
}
.fonts2-start-button3 p{
  height: 100%;
  width: 100%;
font-size: 18px;
font-weight: 500;
line-height: 26px;
text-align: left;
}
.fonts2-start-button2{
  transition: all 0.5s ease-in-out;
  padding: 13px 10px 10px 28px;
  width: 100%;
  height: 100%;
}
.onts2-start-button3{
  transition: all 0.5s ease-in-out;
  height: 100%;
  width: 100%;
}
.fonts2-start-button3:hover{
  background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
  background-clip: text;
  color: transparent;
}
.fonts2-start-button2:hover{
  background-color: white;

}




/* .fonts2-start-button1{
  font-family: "Roboto";
  width: 177px;
  height: 58px;
font-size: 18px;
font-weight: 500;
line-height: 26px;
text-align: center;
color: white;
background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
border-radius: 4px;
} */
.header-main2-fonts2{
  color: white;
 display: flex;
 justify-content: space-between;
 padding: 25px 0 0 0;
}
.bitcoin-btc1{
  padding: 10px 11px 10px 14px;
  max-width: 240px;
  width: 100%;
  display: flex;
  gap: 18px;
  align-items: center;
  border: 1px solid #40476C;
  border-radius:4px ;

}
.btc-fonts h1{
  width: 82px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #CCCED9;
}
.btc-fonts1{
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.btc-fonts1-p1{
  width: 115px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #F0F1F5;
}
.btc-fonts1-p2{
  display: flex;
  align-items: center;
  gap: 8px;
font-size: 14px;
font-weight: 500;
line-height: 17px;
text-align: right;
color: #34D399;
}
/* main */
.main-section{
  margin: 140px 0 142px 0;
}
.main1-heading h1{
font-size: 39px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0.02em;
text-align: center;
color: #26306A;
}
.main1-heading{
   display: flex;
   justify-content:center ;
   align-items: center;
   flex-direction: column;
   gap: 18px;
}
.main1-heading div{
  width: 140px;
  border: 1px solid #25A1FF;
  border-radius: 2px;
}
.main1-cards{
  display: flex;
  justify-content: space-between;
margin: 80px 0;
}
.main1-cards1{
  background-color: #191a51;
  max-width: 240px;
  padding: 18px 32px;
  align-items: center;
  justify-content: center;
 border-radius: 10px;
}
.main1-cards1-deatils{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
gap: 12px;
margin-bottom: 37px;
}



.main1-cards1-image1 h1{
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: center;
  color: white;
}
.main1-cards1-deatils p{
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: center;
color: #CCCED9;
}
.main1-cards1-time{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.main1-cards1-image1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 12px;
}

.main1-cards1-time h1{
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  color: white;
}
.main1-cards1-time button{
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
  background-clip: text;
  color: transparent;
}
.main1-cards1-time div{
  width: 141px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: white;
}
.loader-main{
  width: 588px;
height: 6px;
border-radius: 6px;
opacity: 0px;
background-color: #25A1FF;
}
/* main2 */
.main-sector-tabel{
  margin-bottom:140px ;
}
.main-fortable{
  display: flex;
  flex-direction: column;

}
.table-head{
  max-width: 506px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.table-detils{
  border: 1px solid #E9EAF0;
}
.table-head h1{
  padding: 12px 24px;
font-size: 16px;
border-radius: 10px;
font-weight: 500;
background-color: #EEF7FF99;
line-height: 24px;
text-align: left;
color: #0091FF;
}
.table-head h1:hover{
  background-color:#cfe5f6 ;
  transition: all 0.3s ease-in-out;
}
.table-detils-head{
  display: flex;
  gap: 80px;
  height: 70px;
  align-items: center;
  padding-left: 24px;
  border-bottom:1px solid #E9EAF0 ;
}
.table1-head-h1{
  max-width: 190px;
  width: 100%;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #6A718A;
}
.table1-head-h2{
  max-width: 200px;
  width: 100%;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #6A718A;
}
.table1-head-h3{
  max-width: 176px;
  width: 100%;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #6A718A;
}
.table-detils-head2{
  display: flex;
  justify-content: space-between;
  height: 77px;
  padding: 0 24px;
}
.table1-deco1{
  max-width: 190px;
  width: 100%;
}
.table1-deco2{
  max-width: 200px;
  width: 100%;
}
.table1-deco3{
  max-width: 176px;
  width: 100%;
}
.table-detils-head2-deco1{
  max-width: 1476px;
  width: 100%;
  display: flex;
  gap: 80px;
  align-items: center;
}
.table-detils-main1{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.table1-deco1-h1{
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #6A718A;
}
.table1-deco1-h2{
  font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
color: #40476C;
}

.table-links{
  display: flex;
  width: 176px;
  gap: 24px;
  align-items: center;
}

.table-links h1{
  border: 1px solid #0070E4 ;
  border-radius: 4px ;
  padding-top:9px ;
  background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
  background-clip: text;
  color: transparent;
  width: 72px;
  height: 37px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
}
.button-deco1{
 margin-top: 76px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.button-table{
  width: 158px;
height: 58px;
gap: 10px;
border-radius: 4px ;
background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
color: white;
font-size: 18px;
font-weight: 500;
line-height: 26px;
text-align: center;
}


/* main3 */
.main3-section{
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.main3-hade{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.main3-hade h1{
font-size: 39px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0.02em;
color: #26306A;
}
.main3-hade div{
  border: 2px solid #25A1FF;
  width: 140px;
  border-radius: 3px;
}
.main3-cards{
  display: flex;
  gap: 30px;
}
.main3-cards1{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  justify-content: left;
  max-width: 375px;
  background-color: white;
  padding: 100px 88px 102px 50px;
}
.main3-cards1 img{
  width: 38px;
height: 38px;
}
.for-fonts{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.for-fonts h1{
font-size: 19px;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #40476C;
}
.for-fonts p{
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #8C9298;
}
.for-linking{
  display: flex;
  align-items: center;
  gap: 8px;
}
.for-linking h1{
  width: 130px;
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  color: #56B2FF;
}
.for-linking img{
  width: 18px ;
  height: 10px;
}
.main3-sector{
  margin-bottom: 140px;
}
/* main4 */
.main4-section{
  padding: 120px 0 100px 0;
  background-image: url(./images/mainimage.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.main4-sector-fonts-head{
   display: flex;
   flex-direction: column;
   gap: 18px;
}
.main4-sector-fonts-head h1{
  font-size: 39px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.02em;
  text-align: left;
}
.line-for-mai4{
  width: 140px;
  border: 2px solid #25A1FF
}
.main4-sector-fonts{
  display: flex;
  flex-direction: column;
  gap: 22px;
}
.start-io1{
  display: flex;
  gap: 8px;
  align-items: center;
}
.start-io1 h1{
font-size: 19px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.02em;
text-align: left;
color: #CCCED9;
}
.fonts-start-io1{
  margin-top: 58px;
  display: flex;
  margin-right: 70px;
  flex-direction: column;
  gap:24px ;
}

.center-line{
  margin-top: 58px;
margin-right: 31px;
  width: 0;
height: 320px;
border: 2px solid #FFFFFF0F
}
.main4-sector-fonts-start{
  display: flex;
}
.fonts-start-io2{
  margin-top: 58px;
  margin-right: 114px;
  max-width: 561px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.fonts-start-io2 h1{
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.02em;
  text-align: left;
}
.fonts-start-io2 p{
  margin-top: 28px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #AEB1BF;
}
.fonts-start-io2 li{
font-size: 16px;
font-weight: 400;
line-height: 26px;
color: #E9EAF0;
}
.fonts-start-io2 ul{
  margin-top: 32px;
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.responsive-for-mai4{
  display: none;
}
.class-main4-fontack{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.main4-sector-fonts-head li{
  color: #CCCED9;
}
/* main5 */
.main5-section-heade{
  margin: 140px 0;
}
.main5-sector{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.main5-head{
  max-width: 645px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main5-hade{
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: start;
  margin-bottom: 28px;
}
.main5-hade h1{
font-size: 39px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0.02em;
color: #26306A;
}
.main5-hade div{
  width: 140px;
  border: 2px solid #25A1FF;
  border-radius: 2px;
}
.main5-p{
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.main5-p p{
font-size: 18px;
font-weight: 400;
line-height: 32px;
color: #8C9298;
}
.fonts5-start-button1{

  font-family: "Roboto";
  width: 177px;
  height: 58px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: white;
  background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
  border-radius: 4px;
}
/* main6 */
.main6-sector-head{
  margin-bottom: 140px;
}
.main6-section{
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.main6-head1{
  display: flex;
  gap: 53px;
}
.card1{
  max-width: 405px;
  width: 100%;
  background-color: white;
  padding: 40px 28px 40px 0;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  border-radius: 10px;
 
}
.card1-part1{
  display: flex;
  flex-direction: column;
gap: 42px;
margin-left: 77px;
margin-bottom: 48px;
}
.card1-part1 img{
  width: 96px;
height: 96px;
margin-left: 24.5px;
}
.card1-part2-h1{
  font-size: 23px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.02em;
color: #1f2755;
font-family: "Roboto";  
}
.card1-part2-p1{
  font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: #6A718A;
}
.card1-part2-p2{
  font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: #6A718A;
}
.card1-part2-p3{
  font-family: "Roboto";
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: center;
color: #6A718A;
}

.card2{
  opacity:1;
  max-width: 510px;
  width: 100%;
  background-color: white;
  padding: 40px 28px 40px 28px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.card1-part2{
  display: flex;
  flex-direction: column;
  align-items: center;
gap: 42px;
margin-bottom: 48px;
}
.all-card{
  max-width: 1380px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card3{
  max-width: 405px;
  width: 100%;
  background-color: white;
  padding: 40px 0 40px 28px;
  align-items: center;
  justify-content: center;
  opacity: 0.6;
  border-radius: 10px;
}
.dots-for-card{
  max-width:124px;
  width: 100%;
  height: 22px;
  display: flex;
  margin: 0 auto;
justify-content: space-between;
align-items: center;
}
.dots-for-card-1{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCED9;
}
.dots-for-card-1-io1{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCCED9;
}
/* footer */
.coin-footer{
  padding: 60px 0 40px 0  ;
  color: white; 
  background-color: #161D26;
}
.main-icon-h3{
  display: flex;
  align-items: end;
  max-width: 44px;
  width: 100%;
font-size: 28px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.02em;
text-align: left;
margin-right:2px ;
color: white;
}
.main-icon-h4{
  display: flex;
  align-items: end;
  max-width: 46px;
  width: 100%;
font-size: 28px;
font-weight: 500;
line-height: 38px;
letter-spacing: 0.02em;
text-align: left;
color: white;
}
.playstore-link1{
  display: none;
}
.footer-section-head1{
  padding-bottom: 60px;
}
.footer-section-head2{
  width: 100%;
  border: 1px solid #212A35;
  margin-bottom: 80px;
}
.footer-section-head3{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer-section-head3-passage1,.footer-section-head3-passage2{
  max-width: 240px;
  width: 100%;
  display: flex;
  gap: 28px;
  flex-direction: column;
}
.head3-passage1-h1{
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.02em;
  text-align: left;
}
.head3-passage1-pmain{
  display: inline-flex;
  align-items: start;
   flex-direction: column;
   gap: 18px;
}

.head3-passage1-p1{
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #CCCED9;
  /* border-bottom: 2px solid transparent; */
  transition: all 0.5s ease-in-out ;
  cursor: pointer;
  position: relative;
}
.head3-passage1-p1::before{
  content: "";
  display: inline-block;
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out ;
  background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
  transform: scaleX(0);
  transform-origin: left ;
}
.head3-passage1-p1:hover::before{
  transform: scaleX(1);
}


/* .head3-passage1-p1:hover{
  border-bottom-color:#25A1FF;
} */
.playstore-link{
  padding: 6px 30px 6px 20px;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:1px solid #E9EAF0;
  box-shadow: 0px 0px 14px 0px #0000000F;
  border-radius: 4px;
}
.link-fonts-p{
font-size: 10px;
font-weight: 400;
line-height: 14px;
text-align: left;
color: #CCCED9;
}
.link-fonts-h1{
  width: 86px;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #CCCED9;
}
.footer-section-head3-deco3{
  display: none;
}
/* footer2 */
.footer1-main{
  padding: 41px 0;
  background-color: #12171E;
  color: white;
}
.footer1-mainsection{
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.footer1-mainsection1{
 display: flex;
 gap: 10px;
}
.footer1-h1{
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
}
.footer1-mainsection2{
  width:184px ;
  display: inline-flex;
  justify-content: space-between;
  align-items:center ;
}


















.table1-deco1-responsive{
  display: none;
}
.table-detils-head-io1{
  display: none;
}

@media (max-width:1540px) {
  .table1-head-h3{
   display: none;
  }
  .table1-deco3{
   display: none;
  }
  .card3{
    display: none ;
  }
  .fonts-start-io1{
    margin: 0;

  }
  .main4-sector-image{
    display: flex;
    align-items:center ;
    justify-content: center;
  }
  .main4-sector-fonts-head{
    align-items: center;
  }
  .main4-sector-fonts-start{
    flex-direction: column-reverse;
  }
  .fonts-start-io2{
    margin: 0;
  }
  .center-line{
    display: none;
  }
  
 
  .loader-main{
   width: 30%;
  }
  .bitcoin-btc1:nth-child(6){
 display: none;
  }
  .main1-cards1:nth-child(6){
    display: none;
  }
  .main3-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }
  .main3-cards1{
    padding: 24px 8px 23px 14px;
    gap: 24px;
  }
  .for-fonts{
    gap: 12px;
  }
}
@media (max-width:1275px) {
  .table-head h1:nth-child(4){
   display: none;
  }
  .loading{
   display: none;
  }
  .table-detils-head2{
    display: none;
  }
  .table-links{
    display: none;
  }
  .table-detils-head{
    display: none;
  }
  .table-detils-head-io1{
    border-bottom:1px solid #E9EAF0  ;
    height: 54px;
    display: block flex ;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .table1-deco1-responsive-main2{
    display: flex;
  }
  .table1-deco1-responsive{
    align-items: center;
    width: 100%;
    display: block flex;
    flex-direction: column;
  }
  .table1-deco1-responsive{
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
  .table1-responsive-io1{
    width: 105px;
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: left;
color: #6A718A;
  }
  .resposive-tabel-io{
    height: 68px;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
.table1-deco1-responsive-h1{
  width: 37px;
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #6A718A;
}
.button-deco1{
 margin-top: 40px;
}
.table1-deco1-responsive-h2{
  width:105px;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  color: #40476C;
}
.responsive-h1{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  width: 105px;
  color: #8C9298;
}
.responsive-h2{
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  width: 105px;
  color: #6A718A;
}

  .footer-section-head3-passage1:nth-child(5){
    display: none;
  }
  .card1{
    display: none;
  }
  .main5-sector{
    flex-direction: column-reverse;
    align-items: center;
  }
  .main4-section{
    padding: 40px 0;
  }
  .main4-sector-image{
    margin: 30px 56px;
  }
  .bitcoin-btc1:nth-child(5){
    display: none;
     }
     .main1-cards1:nth-child(5){
      display: none;
    }
     .bitcoin-btc1{
      max-width: 115px;
      width: 100%;
       border: none;
       padding: 0;
       flex-direction: column;
       justify-content: left;
       align-items: start;
       margin: 0 auto;
     }
     .header-main2-fonts2{
      row-gap: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
     }
     .header-main2-fonts1{
      flex-direction: column-reverse;
     }
}
@media (max-width:1042px){
  
  .main-section{
    margin:  0 0 40px 0 ;
  }
  .main1-cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
  }
  .main1-cards1{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width:161px;
    width: 100%;
    padding: 0;
    padding: 24px 12px;
  }
  .main1-cards1-deatils{
    display: none;
  }
  .main1-cards1-time {
    align-items: start ;
  }
  .main1-cards1-time h1{
    text-align: left;
  }
  .main1-cards1 p{
    display: none;
  }
   .main1-cards1:nth-child(5), .main1-cards1:nth-child(6){
    display:  block;
  }
  .main1-cards1-image1{
    flex-direction: row;
    margin: 0;
    gap: 8px;
    margin-bottom: 18px;
  }
  .main1-cards{
    margin: 34px 0 40px 0;
  }
  
  .main1-cards1-image1 h1{
font-size: 19px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
text-align: center;
  }
  .main1-cards1-image1 img{
    width: 30px;
    height: 30px;
  } 
}
@media (max-width:540px) {
  .footer1-mainsection{
    flex-direction: column-reverse;
    gap: 30px;
  }
  .footer1-main{
    padding: 20px 0;
  }
  .card1-part2-p1{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .card1-part2-p2{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .card1-part2-p3{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .card1-part2{
    margin-bottom: 24px;
  }
  .card2{
    padding: 24px 14px;
  }
  .card1-part2 img{
     width: 68px;
     height: 68px;
  }
  .card1-part2{
    flex-direction: row;
  }
  .main-sector-tabel{
    margin: 40px 0 60px 0;
  }
  .main2-fonts2-image{
    width: 279px;
    height: 320px;
  }
  .loader-main{
  display: none;
  }
  .main1-heading{
    align-items: start;
  }
  .main1-cards1{
    margin: 0;
  }
  .table-links{
    display: none;
  }
 
  .no-use-responsive{
    display: none;
  }
  .for-linking{
    display: none;
  }
  .main3-hade h1{
    font-size: 33px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.02em;
  }
 
  .main3-hade{
    align-items: start;
  }
  .for-fonts h1{
font-size: 16px;
font-weight: 500;
line-height: 24px;
  }
  .for-fonts p{
font-size: 10px;
font-weight: 400;
line-height: 14px;
  }
  .main3-cards{
    gap: 13px;
  }
  .fonts-start-io1{
    display: none;
  }
  .main4-sector-fonts-head{
    align-items: start;
  }

 
}
  @media (max-width:959px ) {
    .button-table{
      max-width: 959px;
      width: 100%;
      margin-top: 40px;
    }
       .playstore-link{
        padding: 6px 23px 6px 18px;
       }
    .coin-footer{
      padding: 40px 0;
    }
    .footer-section-head3-deco3{
          display: flex block;
          flex-direction: column;
          gap: 18px;
    }
  
    .footer-section-head1{
      padding-bottom: 20px;
    }
    .footer-section-head2{
      margin-bottom: 40px;
    }
    .footer-section-head3{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 13px  ;
      row-gap: 30px;
      margin-bottom: 30px;
    }
    .playstate{
      display: flex;
      gap: 13px;
    }
    .footer-section-head3-passage2{
      display: none;
    }
    .main6-sector-head{
      margin-bottom: 40px;
    }
    .dots-for-card-1-io1{
      width: 22px;
height: 22px;
background: linear-gradient(94.58deg, #25A1FF 0%, #0070E4 100%);
border: 5px solid white;
outline: 1px solid #0070E4;

    }
    .all-card{
      justify-content: center;
    }
    .main6-section{
      gap: 40px;
    }
    .image-responsive-main6{
      display: none;
    }
    .main5-head1{
      margin:  0 40px;
    }
    .main5-sector{
        gap: 40px;
    }
    .main5-section-heade{
      margin: 40px 0;
    }
    .fonts5-start-button1{
      max-width: 959px ;
      width: 100%;
    }
    .main5-hade h1{
font-size: 33px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.02em;
    }
    .main5-hade p{
font-size: 14px;
font-weight: 400;
line-height: 22px;
    }
    .main4-sector-fonts-head h1{
font-size: 33px;
font-weight: 600;
line-height: 40px;
letter-spacing: 0.02em;
    }
    .main4-sector-fonts-head li{
font-size: 12px;
font-weight: 500;
line-height: 18px;
    }
    .fonts-start-io2 h1{
font-size: 19px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0.02em;
    }
    .fonts-start-io2 p{
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
    .class-main4-fontack{
      flex-direction: column;
      gap: 18px;

    }
    .fonts-start-io1{
    display: none;
    }
    .responsive-for-mai4{
      display:inline-flex;
      max-width: 959px ;
      width: 100%;
      justify-content: space-between;
      
    }
    .resposive-option{
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .responsive-for-mai4 h1{
font-size: 12px;
font-weight: 400;
line-height: 18px;
text-align: left;
color: #8C9298;
    }
    .main4-responsive-border{
      width: 14px;
      border: 1px solid #8C9298;
    }
    .main3-sector{
      margin: 0 0  40px 0;
    }
    .main3-cards{
      grid-template-columns: 1fr 1fr;
    }
    .table-head h1{
padding: 12px 20px 12px 20px;
font-size: 14px;
font-weight: 500;
line-height: 17px;
text-align: left;

    }
    .table-detils{
      border: none;
    }
    .header-main-icon{
      color: #40476C;
    }
    .table-detils-head{
      padding: 0;
    }
    .table-detils-head2{
      padding: 0;
    }
    .tabels2{
      display: block;
      width: 105px;
    }
    .main-fortable{
      max-width: 959px;
      width: 100%;
      justify-content: center;
    }
    .tabel-rack{
      max-width: 959px;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .tabels21{
      display: flex;
      gap: 10px;
    }
    .tabels21 h1{
      width: 105px;
      color: #6A718A;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
    }
   
     .tabels1{
      display: none;
     }
    .tabels2 h1{
      color: #6A718A;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
    }
  
    .table-detils-head {
      gap: 10px;
      justify-content: left;
    }
    
    .table-head{
     gap: 8px;
     justify-content: left;
    }
    .main-header-section{
      padding: 0;
    }
    .fonts2-start-h1{
      margin-bottom: 22px;
    }
    .fonts2-start-p1{
      margin-bottom: 40px;
    }
    .header-main2-fonts2{
      padding: 40px 0;
    }
    /* .fonts2-start-button1{
      width: 100%;
    } */
    .header-main2-fonts1{
      margin: 0;
      padding-top: 80px;
      gap: 40px;
    }
   .fonts2-start-h1{
font-size: 34px;
font-weight: 700;
line-height: 42px;
letter-spacing: 0.02em;
text-align: center;
   }
   .fonts2-start-p1{
font-size: 14px;
font-weight: 400;
line-height: 22px;
text-align: center;
   }
    .header-main1{
      display: none;
    }
    .header-main1-responsive{
      margin: 34px 0 24px 0 ;
      padding: 0 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .icon-responsive{
      width: 178px;
      display: flex;
      align-items: center;
      justify-content:end;
      gap: 30px;
    }
  }